<app-navbar></app-navbar>
<header>
  <img ngSrc="assets/images/domus_transparente.png" width="389" height="167" alt="Logo Domus">
</header>
<div class="container text-justify font-italic my-5">
  <router-outlet></router-outlet>
</div>
<nav class="navbar fixed-bottom navbardark" id="divFooter">
  <div class="w-100 d-flex flex-row flex-wrap justify-content-between">
    <div>
      Asociación DomuS BDSM Galicia
    </div>
    <div class="d-flex flex-row align-items-center">
      <a href="https://fetlife.com/users/7135971" target="_blank">
        <img class="mx-2" ngSrc="assets/images/fetlife.svg" width="25" height="25" alt="Logo FetLife">
      </a>
      <a href="https://www.facebook.com/DomuS.Galicia" target="_blank">
        <i class="fab fa-facebook-f lead mx-2" style="color: #3b5998"></i>
      </a>
      <a href="https://twitter.com/DomuS2017" target="_blank">
        <i class="fab fa-twitter lead mx-2" style="color: #00acee"></i>
      </a>
    </div>
  </div>
</nav>
